.event {
    min-height: 400px;
    position: relative;

    &__preview {
        display: flex;
        justify-content: center;
        margin-bottom: var(--space-xxl);
    }

    &__speaker {
        margin-right: var(--space-xs);
    }

    &__title {
        margin-bottom: var(--space-s);
    }
}
