.image {
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-bg-border);
    background-color: var(--color-bg-default);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
}
