.history {
    &__transaction:last-child {
        border: none;
    }

    &__show {
        cursor: pointer;
        margin-top: 0 !important;
        justify-content: space-between;
    }

    &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__actions {
        margin-bottom: 0;
    }
}
